/**

Mobile landscape
*/
@media (max-width : 480px) {
    h2 {
        font-size : 20px !important;
    }

    
}
@media (max-width : 320px) {
    h2 {
        font-size : 15px !important;
    }

    #main-slider .carousel-content {
        margin-top: 90%;
    }
	.left-top-fold h2{width: 80%;margin-left: 30%;}
	.right-top-fold h2{width: 70%;margin-right: 30%;}
	.about-box p{font-size:14px;}
	
}

/* Extra small devices (phones, less than 768px) */
@media (max-width : 768px) {

    h2 {
        font-size : 27px;
    }

    .inner-wrapper {
        padding-left  : 30px;
        padding-right : 30px;
    }

    #body-wrapper > div:nth-child(odd),
    #body-wrapper > div.odd {
        left : 0;
    }

    #body-wrapper > div:nth-child(odd) .inner-wrapper > div,
    #body-wrapper > div.odd .inner-wrapper > div {
        left : 0;
    }

    #body-wrapper > div:nth-child(even),
    #body-wrapper > div.even {
        left : 0;
    }

    #body-wrapper > div:nth-child(even) .inner-wrapper > div,
    #body-wrapper > div.even .inner-wrapper > div {
        left : 0;
    }

  

    #navigation-bar {
        min-height : 70px;
        background : none;
    }

    .navbar-inverse {
        background : none;
    }

    .navbar-header {
        background-color : rgba(34, 34, 34, 0.8);
        padding          : 10px 0;
    }

    .navbar-collapse {
        background-color : rgba(34, 34, 34, 0.8);
    }

    #menu > ul {
        width : 100%;
    }

    #menu > ul > li {
        display : block;
        float   : none;
    }

    #menu > ul > li > a {
        text-align : left;
        color      : #fff;
        padding    : 10px;
    }

    #menu > ul > li.active {
        -webkit-transform : scale(1);
        -moz-transform    : scale(1);
        -o-transform      : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1);
    }

    #menu > ul > li:hover {
        -webkit-transform : scale(1);
        -moz-transform    : scale(1);
        -o-transform      : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1);
        background-color  : #eb1c23;
    }

    #menu > ul > li.active > a {
        background-color : #eb1c23;
    }

    #menu > ul > li > a:before, #menu > ul > li > a:after {
        display : none;
    }

    .navbar-toggle {
        display : inline-block;
        z-index : 999;
    }

    .navbar-collapse.collapse {
        display : none !important;
        height  : auto !important;
    }

    .navbar-collapse.in {
        -ms-overflow-y : auto;
        overflow-y     : auto;
    }

    .navbar-header {
        float : none;
    }

    .location-container .bx-wrapper,
    #team-wrapper .bx-wrapper {
        width     : 455px;
        max-width : 455px !important;
    }

    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left : 0;
    }

    .navbar-collapse {
        padding : 17px 5px;
    }


    .navbar-wrapper {
        margin-top: 25px;
        position: absolute !important;
    }
    .navbar-wrapper.sticky-menu .container {
        left : 0;
    }

    .sticky-menu #logo {
        display : block;
    }

    /*.sticky-menu {
        margin-top : 25px !important;
        position: relative !important;
    }*/

    .social-shares li i,
    

    .navbar-wrapper .container {
        left : -220px;
    }

    .contact-info li {
        width : 100%;
    }
	.contact-info li.first{width:100%;margin-bottom:10px;}
	.contact-info li.second{width:100%;margin-bottom:10px;}
	.contact-info li.third{width:100%;}
    .copyright {
        font-size  : 14px;
        margin-top : 8px;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) and (max-width : 991px) {
	h2 {
        font-size : 44px;
    }
	
    #navigation-bar {
        min-height : 70px;
        background : none;
    }

    .navbar-inverse {
        background : none;
    }

    .navbar-header {
        background-color : rgba(34, 34, 34, 0.8);
        padding          : 10px 0;
    }

    .navbar-collapse {
        background-color : rgba(34, 34, 34, 0.8);
    }

    #menu > ul {
        width : 100%;
    }

    #menu > ul > li {
        display : block;
        float   : none;
    }

    #menu > ul > li > a {
        text-align : left;
        color      : #fff;
        padding    : 10px;
    }

    #menu > ul > li.active {
        -webkit-transform : scale(1);
        -moz-transform    : scale(1);
        -o-transform      : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1);
    }

    #menu > ul > li:hover {
        -webkit-transform : scale(1);
        -moz-transform    : scale(1);
        -o-transform      : scale(1);
        -ms-transform     : scale(1);
        transform         : scale(1);
        background-color  : #eb1c23;
    }

    #menu > ul > li.active > a {
        background-color : #eb1c23;
    }

    #menu > ul > li > a:before, #menu > ul > li > a:after {
        display : none;
    }

    .navbar-toggle {
        display : inline-block;
        z-index : 999;
    }

    .navbar-collapse.collapse {
        display : none !important;
        height  : auto !important;
    }

    .navbar-collapse.in {
        -ms-overflow-y : auto;
        overflow-y     : auto;
    }

    .navbar-header {
        float : none;
    }



    #body-wrapper > div:nth-child(odd),
    #body-wrapper > div.odd {
        left : 0;
    }

    #body-wrapper > div:nth-child(odd) .inner-wrapper > div,
    #body-wrapper > div.odd .inner-wrapper > div {
        left : 0;
    }

    #body-wrapper > div:nth-child(even),
    #body-wrapper > div.even {
        left : 0;
    }

    #body-wrapper > div:nth-child(even) .inner-wrapper > div,
    #body-wrapper > div.even .inner-wrapper > div {
        left : 0;
    }




    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left : 0;
    }

    .navbar-collapse {
        padding : 17px 5px;
    }

    .navbar-wrapper.sticky-menu .container {
        left : 0;
    }



    .main-off-canvas-open .navbar-wrapper.sticky-menu .container {
        left: -230px;
    }



    .sticky-menu #logo {
        display : block;
    }

    .sticky-menu {
        margin-top : 35px !important;
    }

    .social-shares li i {
        font-size   : 20px;
        height      : 42px;
        width       : 42px;
        line-height : 42px;
    }
	.blog-entry-thumb img{width:100%;height:265px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width : 992px) and (max-width : 1199px) {

    #body-wrapper > div:nth-child(odd),
    #body-wrapper > div.odd {
        left : 0;
    }

    #body-wrapper > div:nth-child(odd) .inner-wrapper > div,
    #body-wrapper > div.odd .inner-wrapper > div {
        left : 0;
    }

    #body-wrapper > div:nth-child(even),
    #body-wrapper > div.even {
        left : 0;
    }

    #body-wrapper > div:nth-child(even) .inner-wrapper > div,
    #body-wrapper > div.even .inner-wrapper > div {
        left : 0;
    }

    #menu > ul > li > a,
    #menu > ul > li > a:before,
    #menu > ul > li > a:after {
        padding   : 25px 10px;
        font-size : 14px;
    }

   
   

    .social-shares li i {
        width : 60px;
    }

}

